body{
	background-color: $purple-max;
}
#texto{
	width: 100%;
	height:40px;
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid $black;
}
li{
	width: 100%;
	height: 30px;
	border: 1px solid $black;
	background-color:$purple-claro;
	float: left;
}
.btn-primary{
	background-color:#410859;
}
.btn-danger{
	float: right;
}
h1{
	text-align: center;
	width: 100%;
	height: 40px;
}
h2{
	text-align: center;
}